* {
  padding: 0;
  margin: 0;
}
.menu {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  border: 2px solid white;
  width: 33vw;
  height: 98vh;
  background-color: #2B2B2B;
}
.items{
  width: 60px;
  height: 60px;
  border: 1px solid white;
  background-color: #0d0f31;
  color: #f9f9f9;
}

.gear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.miniBoxes {
  width: 5vw;
  height: 12vh;
  background-color: #808080;
  border: 2px solid black;
}

span {
  display: block;
  background-color: black;
  color: white;
  width: 100%;
}

.layer {
  display: flex;
  gap: 50px;
}

.lower {
  align-items: center;
}

.front,
.back {
  height: 27vh;
}
.hands {
  width: 10vw;
}

.inventory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.mainShirt {
  display: flex;
  gap: 15px;
  margin-left: 30px;
  margin-top: 25px;
}

.mainPants{
  display: flex;
  gap: 15px;
  margin-left: 30px;
}

.bag{
  margin-left: 30px;
}

.vest{
  margin-left: 30px;
}

.pockets{
  margin-left: 30px;
}

.shirtStorage {
  background-image: linear-gradient(#0d0f31 1px, transparent 1px),
    linear-gradient(to right, #0d0f31 1px, #fafafd 1px);
  background-size: 30px 30px;
  width: 90px;
  height: 90px;
  position: relative;
  margin-top: 20px;
}

.pantsStorage {
  background-image: linear-gradient(#0d0f31 1px, transparent 1px),
    linear-gradient(to right, #0d0f31 1px, #fafafd 1px);
  background-size: 30px 30px;
  width: 90px;
  height: 60px;
  margin-top: 20px;
}
.pocketsStorage {
  background-image: linear-gradient(#0d0f31 1px, transparent 1px),
    linear-gradient(to right, #0d0f31 1px, #fafafd 1px);
  background-size: 30px 30px;
  width: 240px;
  height: 150px;
}

.storage {
  overflow: auto;
}

.ground {
  background-color: #f9f9f9;
  background-image: linear-gradient(#0d0f31 1px, transparent 1px),
    linear-gradient(to right, #0d0f31 1px, #f9f9f9 1px);
  background-size: 30px 30px;
  min-height: 97%;
  display: flex;
  flex-wrap: wrap;
}

.groundItems{
  width: 89px;
  height: 89px;
  background-color: #0d0f31;
  border: 1px solid white;
}

.cabinet {
  opacity: 0.8;
  background-image: linear-gradient(#0d0f31 1px, transparent 1px),
    linear-gradient(to right, #0d0f31 1px, #fafafd 1px);
  background-size: 30px 30px;
  min-height: 97%;
}

.toggleGear , .toggleInventory{
  width: 33%;
  overflow-x: hidden;
}

